---
http_interactions:
- request:
    method: get
    uri: http://api.sandbox.yellowapi.com/FindDealer/?UID=asdf&apikey=<YELLOW_API_KEY>&fmt=JSON&pgLen=1&pid=6418182
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-114.mashery.com
    body:
      encoding: UTF-8
      string: '{"summary":{"where":"Canada","latitude":"62.8330343637792","longitude":"-95.9140174199821","firstListing":1,"lastListing":1,"totalListings":586,"pageCount":586,"currentPage":1,"listingsPerPage":1,"Prov":"XX"},"listings":[{"id":"7915290","type":"REGULAR","name":"Greg
        Cantin","address":{"street":"900 Lasalle Blvd","city":"Sudbury","prov":"ON","pcode":"P3A
        5W8"},"geoCode":{"latitude":"46.522107","longitude":"-80.961147"},"distance":"","parentId":"6418182","isParent":false,"content":{"Video":{"avail":false,"inMkt":false},"Photo":{"avail":false,"inMkt":false},"Profile":{"avail":true,"inMkt":true},"DspAd":{"avail":false,"inMkt":false},"Logo":{"avail":false,"inMkt":false},"Url":{"avail":true,"inMkt":false}}}]}'
  recorded_at: Mon, 02 May 2016 18:33:05 GMT
recorded_with: VCR 3.0.1
