---
http_interactions:
- request:
    method: get
    uri: http://api.sandbox.yellowapi.com/GetTypeAhead/?UID=asdf&apikey=<YELLOW_API_KEY>&field=WHAT&fmt=JSON&lang=en&text=au
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1b-115.mashery.com
    body:
      encoding: UTF-8
      string: '{"suggestedValues":[{"value":"Auto Repair Garage","type":"s","alt":"Auto
        Repair Garage","code":""},{"value":"Auto Body Repair & Painting Shops","type":"s","alt":"Auto
        Body Repair & Painting Shops","code":""},{"value":"Auto Scrap Yard","type":"s","alt":"Auto
        Scrap Yard","code":""},{"value":"Auto Glass & Windshields","type":"s","alt":"Auto
        Glass & Windshields","code":""},{"value":"Audiologist","type":"s","alt":"Audiologist","code":""},{"value":"Auditoriums
        & Halls","type":"s","alt":"Auditoriums & Halls","code":""},{"value":"Auto
        Parts","type":"s","alt":"Auto Parts","code":""},{"value":"Auto Repair","type":"s","alt":"Auto
        Repair","code":""},{"value":"Auctioneer","type":"s","alt":"Auctioneer","code":""},{"value":"Auction","type":"s","alt":"Auction","code":""}]}'
  recorded_at: Mon, 02 May 2016 17:45:59 GMT
recorded_with: VCR 3.0.1
